<nav class="nav">
  <div class="container nav__inner">
    <a href="{{ .Site.Home.RelPermalink }}" class="nav__logo">
      {{ .Site.Params.logo.name }}{{ if .Site.Params.logo.dot }}<span class="nav__dot">.</span>{{ end }}
    </a>
    
    <button class="nav__toggle" aria-expanded="false" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <div class="nav__menu">
      <ul class="nav__list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="nav__item">
            <a href="{{ .URL }}" class="nav__link{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} nav__link--active{{ end }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>

      {{/* Language switcher */}}
      {{ if gt (len .Site.Languages) 1 }}
      <div class="nav__lang">
        {{- $currentLang := .Language.Lang -}}
        {{- $translations := .Translations -}}
        {{ range .Site.Languages }}
          {{- $lang := .Lang -}}
          {{ if eq $lang $currentLang }}
            <span class="nav__lang-item nav__lang-item--active">{{ $lang | upper }}</span>
          {{ else }}
            {{- $targetURL := "" -}}
            {{- range $translations -}}
              {{- if eq .Language.Lang $lang -}}
                {{- $targetURL = .RelPermalink -}}
              {{- end -}}
            {{- end -}}
            {{- if not $targetURL -}}
              {{- $targetURL = (printf "/%s/" $lang) -}}
            {{- end -}}
            <a href="{{ $targetURL }}" hreflang="{{ $lang }}" class="nav__lang-item">{{ $lang | upper }}</a>
          {{ end }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</nav>
